.display{
  text-align: center;
  /* border: 3px solid black; */
  border-radius: 10px;
  margin: 5px;
  margin-bottom: 10px;
  width: 94%;
  height: 50px;
 box-shadow: rgba(84, 84, 94, 0.25) 0px 30px 60px -12px inset, rgba(231, 227, 227, 0.3) 0px 18px 36px -18px inset;
  font-size: 35px;

}